header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  button {
    border: 1px solid var(--clr);
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
}
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .user-image {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    gap: 0.5rem;
    border: 3px solid var(--clr);
    border-radius: 50%;
    user-select: none;
    
    img {
      /* border: 1px solid var(--clr); */
      border-radius: 50%;
      overflow: hidden;
      padding: 0.2rem;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    .logo {
      width: 10vw;
      border-width: 1.25px;
    }
  }
}
