.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  width: clamp(300px, 50%, 500px);
  height: clamp(250px, 50%, 500px);
  background-color: #fff1;
  padding: 1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(3px);
  box-shadow: 1px 1px 1px #fff4;
  z-index: 1;

  form {
    display: flex;
    flex: 1px;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }
  h2 {
    color: transparent;
    -webkit-text-stroke: 1px var(--clr);
    font-size: xx-large;
    letter-spacing: .2rem;
  }
  button {
    padding: 1rem;
    font-size: small;
  }
}
input {
  background: transparent;
  border: 1px solid var(--clr);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.1rem;
  color: #fff !important;
}
input::placeholder {
  color: #fff6;
  font-size: smaller;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: start;
  /* width: 100%; */
  gap: 0.5rem;

  label {
    cursor: pointer;
    font-size: smaller;
    min-width: fit-content;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 50px;
  aspect-ratio: 1;
}
